body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #505050;
  background-image: url("img/grid-2088884_1920.jpg"); }

h1 {
  text-align: center; }

.box {
  display: inline-block;
  border: 0.5px solid black;
  width: 15px;
  height: 15px; }

.off {
  background-color: lightgray; }

.on {
  background-color: purple; }

.box:hover {
  background: #faa500; }

.center {
  margin: auto;
  display: table;
  margin-top: 10px; }

.grid {
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
  border: 1px solid black;
  box-sizing: content-box; }

h1, h2, h3, h4 {
  color: #fff;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px; }

h4 {
  margin-top: 0px; }
